langchain
langchain-community
langchain-anthropic
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pypdf
streamlit
python-dotenv
python-docx
docx2txt
unstructured
docx2txt
langchain-text-splitters
#langchain-groq
langchain-google-genai